<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= message %></h1>
    <form action="/submit" method="post">
      <label for="title">title</label>
      <input type="text" name="title" placeholder="title .." />
      <label for="content"></label>
      <textarea type="text" name="content" placeholder="title .."></textarea>
      <input type="submit" />
    </form>
  </body>
</html>
